/* Здравствуйте, если будут какие-то визуальные расхождения с макетом,
можете пожалуйста присылать вместе с замечаниями скриншоты с указанием? 
Мне так будет проще понять,что нужно исправить. Спасибо. */
@supports (-webkit-text-stroke: 1px var(--stroke)) or
    (text-stroke: 1px var(--stroke)) {
    .image-label {
        -webkit-text-stroke: 1px var(--stroke);
    }
}

.page {
    min-inline-size: 320px;
    min-block-size: 100dvb;
    font-family: var(--font-main), sans-serif;
    font-size: var(--font-size);
    background-color: var(--background-color);
    background-image: repeating-linear-gradient(
            to bottom,
            var(--background-color) 0px 2px,
            transparent 2px 4px
        ),
        repeating-linear-gradient(
            to right,
            var(--background-color) 0 2px,
            transparent 2px 4px
        ),
        linear-gradient(
            180deg,
            var(--gradient-first) 0%,
            var(--gradient-second) 100%
        );
    background-attachment: fixed;
    background-size: cover;
    max-inline-size: 700px;
    margin: 0 auto;
}

.main__content {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.all-content {
    margin-block-start: 100px;
}

.header {
    color: var(--color);
    font-family: var(--font-accent), sans-serif;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 20px;
    border: 2px solid var(--border-color);
    padding: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem) 0 12px;
    background-color: var(--background-color);
}

.header__title {
    font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
    text-decoration: none;
}

.header__description-title {
    font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.theme-menu__item {
    margin-block-end: 8px;
}

.theme-menu__button {
    text-transform: inherit;
    background-color: transparent;
    border: none;
    font-size: 14px;
    padding-inline-start: 27px;
    cursor: pointer;
}

.theme-menu__button:focus-visible,
.theme-menu__button:focus,
.card__like-button:focus-visible,
.card__like-button:focus,
.button-remember:focus-visible,
.button-remember:focus,
.save-button:focus,
.save-button:focus-visible,
.card__icon-button:focus,
.card__icon-button:focus-visible {
    outline: none;
}

.card {
    border: 2px solid var(--color);
    background-color: var(--background-color);
}

.card-image {
    border-top: 2px solid var(--color);
    border-bottom: 2px solid var(--color);
    position: relative;
}

.title-card {
    color: var(--color);
    font-size: var(--font-size);
    margin: 4px 10px;
    font-variation-settings: "wght" var(--title-weight);
}

.image {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.image-saturation {
    filter: var(--saturation-color);
}

.image-expos {
    filter: var(--expos-color);
}

.image-matrix {
    filter: var(--matrix-color);
}

.image-rain {
    filter: var(--rain-color);
}

.image-lover {
    filter: var(--lover-color);
    rotate: 180deg;
}

.image-yaaas {
    filter: var(--yaaas-color);
}

.image-last {
    filter: var(--last-color);
}

.card-content {
    padding: 26px 25px;
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.image-label {
    position: absolute;
    top: 25px;
    right: 25px;
    font-family: var(--font-accent), sans-serif;
    font-size: 14px;
    opacity: 0.5;
    color: var(--color);
    mix-blend-mode: hard-light;
    text-transform: lowercase;
}

.label-upper {
    text-transform: uppercase;
}

.card-description {
    color: var(--color);
    font-weight: var(--text-weight);
    font-size: var(--font-size);
    line-height: 21px;
    font-variation-settings: "wght" var(--text-weight);
}

.card-buttons {
    display: flex;
    justify-content: end;
}

.card__icon-button {
    border: 2px solid transparent;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0;
    max-block-size: 38px;
    margin-inline-end: 4px;
}

.card__icon-button:focus-visible {
    border: 2px solid var(--border-color);
}

.card__like-button,
.button {
    position: relative;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--border-color);
    padding: 9px 17px;
    block-size: 38px;
    inline-size: 130px;
    background-color: var(--background-color);
    box-shadow: none;
    transition: 0.3s ease;
}

.card__like-button::before,
.button::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    inline-size: 100%;
    block-size: 100%;
    background-color: var(--color);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
    transform: scaleX(0);
}

.card__like-button:hover::before,
.button:hover::before {
    transform: scaleX(1);
}

.button__text {
    font-size: 14px;
    font-family: var(--font-accent), sans-serif;
    color: var(--mix-color);
    mix-blend-mode: difference;
    line-height: 90%;
}

.card__like-button:hover {
    cursor: pointer;
}

.save-button {
    inline-size: 336px;
    block-size: 55px;
    display: flex;
    gap: 8px;
    color: var(--mix-color);
    margin: 0 auto;
    cursor: pointer;
}

.main__content .save-button {
    margin-block-end: 100px;
}

.floppy {
    width: 21px;
    height: 21px;
    mix-blend-mode: difference;
}

.dialog {
    background-color: var(--background-color);
    border: 2px solid var(--border-color);
    padding: 30px;
    color: var(--color);
    font-family: var(--font-accent), sans-serif;
    font-size: 14px;
}

.dialog .save-button {
    inline-size: 293px;
    block-size: 38px;
}

.dialog .floppy {
    width: 39px;
    height: 39px;
    mix-blend-mode: normal;
}

.dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.75);
}

.dialog:not([open]) {
    pointer-events: none;
    opacity: 0;
}

.dialog-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    inline-size: 295px;
}

.dialog-text-content {
    display: flex;
    gap: 20px;
    place-items: center;
}

.dialog-text {
    max-inline-size: 234px;
    text-transform: uppercase;
    line-height: 150%;
}

.dialog .button__text {
    text-transform: uppercase;
}

.card__like-button:focus-visible,
.save-button:focus-visible {
    box-shadow: 2px 2px 0px 0px var(--color);
    transition: 0.3s ease;
}

@media (width <= 375px) {
    .card-description {
        max-inline-size: 317px;
    }

    .image-label {
        right: 10px;
    }

    .save-button {
        inline-size: 308px;
        block-size: 84px;
        flex-direction: column;
        place-items: center;
    }
    .floppy {
        width: 28px;
        height: 28px;
    }

    .dialog .save-button {
        inline-size: 257px;
        block-size: 38px;
    }
    .dialog-text {
        max-inline-size: 198px;
    }

    .dialog-content {
        inline-size: 257px;
    }

    .dialog {
        padding: 30px 42px;
    }
}
