:root.theme-dark {
    --color: #00cc14;
    --background-color: #000;
    --border-color: #00cc14;
    --gradient-first: #007f0c;
    --gradient-second: #004306;
    --mix-color: #00cc14;
    --stroke: #000;
    --title-weight: 785;
    --text-weight: 465;
    --expos-color: sepia(100%) blur(13px) brightness(105%) hue-rotate(32deg)
        saturate(1000%) contrast(144%);
    --matrix-color: sepia(100%) brightness(105%) hue-rotate(40deg)
        saturate(1000%) contrast(205%);
    --rain-color: sepia(100%) brightness(200%) hue-rotate(247deg) saturate(474%)
        contrast(112%) invert(100%);
    --lover-color: brightness(87%) hue-rotate(152deg) saturate(533%)
        contrast(112%);
    --yaaas-color: blur(3px) brightness(87%) hue-rotate(76deg) saturate(171%)
        contrast(1000%);
    --last-color: grayscale(25%) brightness(200%) hue-rotate(154deg)
        contrast(110%);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color: #00cc14;
        --background-color: #000;
        --border-color: #00cc14;
        --gradient-first: #007f0c;
        --gradient-second: #004306;
        --mix-color: #00cc14;
        --stroke: #000;
        --title-weight: 785;
        --text-weight: 465;
        --saturation-color: saturate(0%) brightness(45%) contrast(190%);
        --expos-color: sepia(100%) blur(13px) brightness(105%) hue-rotate(32deg)
            saturate(1000%) contrast(144%);
        --matrix-color: sepia(100%) brightness(105%) hue-rotate(40deg)
            saturate(1000%) contrast(205%);
        --rain-color: sepia(100%) brightness(200%) hue-rotate(247deg)
            saturate(474%) contrast(112%) invert(100%);
        --lover-color: brightness(87%) hue-rotate(152deg) saturate(533%)
            contrast(112%);
        --yaaas-color: blur(3px) brightness(87%) hue-rotate(76deg)
            saturate(171%) contrast(1000%);
        --last-color: grayscale(25%) brightness(200%) hue-rotate(154deg)
            contrast(110%);
    }
}

:root.theme-light {
    --color: #000;
    --background-color: #fff;
    --border-color: #000;
    --gradient-first: #e7e7e7;
    --gradient-second: #1a1a1a;
    --mix-color: #fff;
    --stroke: #fff;
    --title-weight: 700;
    --text-weight: 400;
    --saturation-color: saturate(0%) brightness(45%) contrast(190%) invert(100%);
    --expos-color: sepia(100%) blur(13px) brightness(105%) hue-rotate(32deg)
        saturate(0%) contrast(144%);
    --matrix-color: sepia(100%) brightness(105%) saturate(0%) contrast(144%);
    --rain-color: sepia(100%) brightness(54%) hue-rotate(247deg) saturate(474%)
        contrast(112%) invert(100%);
    --lover-color: brightness(87%) hue-rotate(152deg) saturate(533%)
        contrast(112%) invert(100%);
    --yaaas-color: blur(3px) brightness(87%) hue-rotate(76deg) saturate(171%)
        contrast(1000%) invert(100%);
    --last-color: grayscale(25%) brightness(200%) hue-rotate(45deg)
        contrast(110%);
}

@media (prefers-color-scheme: light) {
    :root {
        --color: #000;
        --background-color: #fff;
        --border-color: #000;
        --gradient-first: #e7e7e7;
        --gradient-second: #1a1a1a;
        --mix-color: #fff;
        --stroke: #fff;
        --title-weight: 700;
        --text-weight: 400;
        --saturation-color: saturate(0%) brightness(45%) contrast(190%)
            invert(100%);
        --expos-color: sepia(100%) blur(13px) brightness(105%) hue-rotate(32deg)
            saturate(0%) contrast(144%);
        --matrix-color: sepia(100%) brightness(105%) saturate(0%) contrast(144%);
        --rain-color: sepia(100%) brightness(54%) hue-rotate(247deg)
            saturate(474%) contrast(112%) invert(100%);
        --lover-color: brightness(87%) hue-rotate(152deg) saturate(533%)
            contrast(112%) invert(100%);
        --yaaas-color: blur(3px) brightness(87%) hue-rotate(76deg)
            saturate(171%) contrast(1000%) invert(100%);
        --last-color: grayscale(25%) brightness(200%) hue-rotate(45deg)
            contrast(110%);
    }
}
