:root {
    --font-main: "Inter-Variable";
    --font-accent: "PressStart2P-Regular";
    --background-color: #000;
    --color: #00cc14;
    --stroke: #000;
    --heart: #ff0000;
    --font-size: 18px;
}
